body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  background-color: #00BBFF;
  border: black solid 1px;
  margin: 3px;
  width: 250px;  
}

li:hover {
    background-color: #00FFBB;
}