extends layout

block content
  h1= title
  p Welcome to #{title}. Click on the items in the list.
  
  button#showMarkdown Show Markdown
  
  div
    pre#display
    
  div
    ul#displayList
      li foo
    
  hr
  div.debugDiv
    p#debug01
    p#debug02