extends MarkdowLayout

block content
  h1= title
  p Welcome to #{title}

  button#homePage Back
  p#sessionNumber
  
  div#markdown.clearfix
    div.wmd-panel
      div#wmd-button-bar-elf
      textarea.wmd-input#wmd-input-elf

    div#wmd-preview-elf.wmd-panel.wmd-preview
    
    