extends layout

block content
  h1= title
  button#saveDb Save in DB
  button#saveDisc Save on Disc
  div#markdown.clearfix
   div.wmd-panel
    div#wmd-button-bar-elf
    textarea.wmd-input#wmd-input-elf
   
  div#wmd-preview-elf.wmd-panel.wmd-preview
   
  
  