extends layout

block content
  h1= title
  p Welcome to #{title}
  
  p Part01
  
  button#readJson Read Json
  button#readMark Read Markdown
  button#showLength Show Length
  <hr>
  
  p Part02
   <hr>
   
  ul#content
  