extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="UnitTests") Unit Tests
  
  
  div
    pre#display
    
  div
    ul#displayList
      li foo
    
  hr
  div
    p#debug01
    p#debug02