extends layout

block content
  h1= title
  p Welcome to #{title}  
  
  button#jsonReader JSON
  button#sayHello Hello 
  
  div
    pre#display
    
  div
    ul#displayList
    
  div
    p#debug01
    p#debug02
    
  