doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='javascripts/main', src='javascripts/misc/require.js')
  body
    block content