extends layout

block content
  h1 Welcome #{title}
  button#sendString Send String
  p#stringHolder
  p#readyCalled
  p This is my paragraph
  p.
   This is how </br>
   we will create multiple lines </br>
   Here is text that was inserted ---> #{myText}
  ul
   li Foo
   li Bar
   li FooBar
