doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/markdown.css')     
    link(rel='stylesheet', href='/stylesheets/style.css')     
    <script data-main="javascripts/main" src="javascripts/require.js"></script>       
    
  body
    block content