extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
   li
    a(href="/read") read
   li
    a(href="/address") address
   li
    a(href="/address/read") address
   
   <br/> 
   button#buttonParseGetJson button
   p#debug

  div#radioDiv
  
