
doctype html
html
  head
    title= title
    <meta charset="utf-8" />
    link(href="jasmine/jasmine.css", type="text/css", rel="stylesheet")
    script(data-main="MainTest" src="javascripts/require.js")
  h1= title
  p Welcome to #{title}