extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 This is Calculate Page
  
  button#getNine Get Nine
  button#add Add
  button#multiply Multiply 
  <br/>
  input#operanda(type='number', placeholder='operanda') 
  <br/>
  input#operandb(type='number', placeholder='operandb')
  <br/>
  input#result(type='number', placeholder='result')
