extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 This is Convert Page
  
  button#toMiles To Miles
  button#toSeconds To Seconds
  button#toCelcius To Celcius 
  <br/>
  input#convert(type='number', placeholder='Enter value') 
