extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/newPage") New Page <br/>
  a(href="/CalculatePage") Calculate Page <br/>
  a(href="/ConvertPage") Convert Page <br/>
  a(href="/PositionPage") Position Page <br/>
  
  button#buttonSayHello Say Hello
  p#paragraph01
  p#paragraph02
  p#paragraph03
  p#paragraph04
  p#paragraph05
  
  
  